BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
IndentCaseLabels: true
IndentSwitchCaseLabels: true
SpaceAfterCStyleCast: true
SortIncludes: Never
IndentPPDirectives: AfterHash
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
SortUsingDeclarations: false

# Additional options for personal preferences
SpaceBeforeParens: ControlStatements
AllowAllParametersOfDeclarationOnNextLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
BreakConstructorInitializersBeforeComma: false
PenaltyBreakComment: 10
PenaltyBreakFirstLessLess: 1000
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 200
AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true
BreakStringLiterals: true
ReflowComments: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeRangeBasedForLoopColon: true
